<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceptor-Home</title>
  <link rel="stylesheet" href="/user/css/home.css">
  <link rel="icon" href="/user/images/icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

    body {
      background-image: url(/user/images/bg1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family: "Questrial";
    }
  </style>
</head>
<!--  -->

<body class="main">
  <!-- Preloader -->
  <div class="preloader">
    <svg viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="big-circle" d="M101 51C101 78.6142 78.6142 101 51 101C23.3858 101 1 78.6142 1 51" stroke="#252525"
        stroke-width="2" />
      <path class="small-circle" d="M91 51C91 28.9086 73.0914 11 51 11C28.9086 11 11 28.9086 11 51" stroke="#252525"
        stroke-width="2" />
    </svg>
  </div>
  <!-- for display after the preloader -->
  <div class="page">
    <!-- navbar -->
    <div class="container rounded-bottom border-0 ">
      <header class=" d-flex flex-wrap justify-content-center  mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/user/images/icon.png" class="bi me-2" width="50" height="50">
          <use xlink:href="#bootstrap" />
          <span class="fs-4" style="font-family: 'Questrial';">Hemo<span class="text-danger">Tracker</span></span>
        </a>
        <ul class="nav">
          <li class="nav-item"><a href="/accept/acchom"
              class="nav-link text-danger border-bottom border-danger">Home</a></li>
          <li class="nav-item"><a href="/accept/accabt" class="nav-link text-dark">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-dark" data-bs-toggle="offcanvas"
              data-bs-target="#profileOffcanvas" aria-controls="profileOffcanvas">Profile</a></li>
          <li class="nav-item"><a href="/accept/acclog" class="nav-link text-dark">Logout</a></li>
        </ul>
      </header>
    </div>
    <!-- navbar closed -->
    <!-- sidebar -->
    <div class="offcanvas offcanvas-end rounded-4 my-5 mx-3" tabindex="-1" id="profileOffcanvas"
      aria-labelledby="profileOffcanvasLabel" style="width: 400px;height: 500px;background-color: rgb(255, 255, 255);">
      <div class="offcanvas-header py-0">
        <h4 class="offcanvas-title text-light" id="profileOffcanvasLabel">.</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body text-start px-4">
        <!-- Acceptor profile -->
        <div class="row align-items-center mb-4 pb-3 border-bottom border-danger">
          <div class="col-auto">
            <img src="/user/images/user.png" alt="" width="90" class="rounded-4">
          </div>
          <div class="col border-start">
            <div class="fs-5">
              <%= acceptor.acc_fname %>
                <%= acceptor.acc_lname %>
            </div>
            <div>Gender: <span class="fw-bold">
                <%= acceptor.acc_gender %>
              </span></div>
            <div>Mail Id: <span class="fw-bold">
                <%= acceptor.acc_mail %>
              </span></div>
            <div>Phone: <span class="fw-bold">
                <%= acceptor.acc_phno %>
              </span></div>
          </div>
        </div>
        <!-- Acceptor profile closed-->

        <!-- Request sent -->
        <div class="fs-5">Request Sent</div>
        <% requests.forEach((request)=> { %>
          <div class="card shadow rounded-4 mb-3">
            <div class="card-body d-flex align-items-center justify-content-between">
              <div>
                <div class="card-text">Donor name: <%= request.don_fname %>
                    <%= request.don_lname %>
                </div>
                <div class="card-text">Blood Group: <%= request.don_blood %>
                </div>
                <% if (request.status==='pending' ) { %>
                  <!-- Display status on a red button -->
                  Status: <button class="btn btn-danger rounded-pill shadow">
                    <%= request.status %>
                  </button>
                  <% } else if (request.status==='active' ) { %>
                    <!-- Display status on a green button -->
                    Status: <button class="btn btn-success rounded-pill shadow">
                      <%= request.status %>
                    </button>
                    <% } %>
              </div>
              <img src="/user/images/user2.png" class="rounded-4 ml-auto" width="70" alt="Donor Image">
            </div>
          </div>
          <% }); %>
            <!-- Request sent closed -->


      </div>
    </div>
    <!-- sidebar closed -->


    <!-- first row -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md col-sm-12 col-12 py-5">
          <h1 class="display-3 fw-semibold">Donate <br> your <span class="text-danger">Blood</span> <br> for saving life
          </h1>
        </div>
        <div class="col-lg-6 col-md col-sm-12 col-12">
          <img src="/user/images/img3.png" alt="" width="100%" class="animated-image">
        </div>
      </div>
    </div>
    <!-- first row closed -->
    <!-- second row -->
    <div class="container">
      <form action="" method="get" class="d-flex">
        <div class="row bg-danger shadow rounded-4 p-3">
          <div class="col-lg-4 col-md col-sm-6 col-6 p-2">
            <select class="form-select px-5" name="location" id="location">
              <option selected disabled>Search Location</option>
              <% locations.forEach((location)=> { %>
                <option value="<%= location.don_location %>">
                  <%= location.don_location %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="col-lg-4 col-md col-sm-6 col-6 p-2">
            <select class="form-select px-5 mx-2" name="bloodGroup" id="bloodGroup">
              <option selected>Blood Group</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
            </select>
          </div>
          <div class="col-lg-4 col-md col-sm-12 col-12 p-2">
            <button type="submit" class="btn btn-danger border-light rounded-4 w-100">Find
              Donor</button>
          </div>
        </div>
      </form>
    </div>
    <!-- second row closed -->
<!-- Donor List -->
<!-- Display donor list -->
<div class="container">
  <h2 class="mt-5">Donor List</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% if (donors.length === 0) { %>
    <div class="col">
      <p>No Donor found</p>
    </div>
    <% } else { %>
    <% donors.forEach((donor, index) => { %>
      <div class="col">
        <div class="card rounded-4 shadow border border-end-0 border-danger">
          <div class="card-body d-flex align-items-center justify-content-between">
            <div>
              <h5 class="card-title">
                <%= donor.don_fname %> <%= donor.don_lname %>
              </h5>
              <span class="card-text">Blood Group: <%= donor.don_blood %></span>
              <p class="card-text">Place: <%= donor.don_location %></p>
              <button type="button" class="btn btn-danger rounded-4" data-bs-toggle="modal"
                data-bs-target="#donorModal<%= index %>">View Details</button>
            </div>
            <div>
              <!-- Here goes the donor image -->
              <img src="/user/images/user.png" class="rounded-4" width="100" alt="Donor Image">
            </div>
          </div>
        </div>
      </div>      
    <!-- Modal -->
    <div class="modal fade" id="donorModal<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content rounded-4">
          <div class="modal-header" style="border-bottom: none;">
            <!-- <h5 class="modal-title text-danger" id="exampleModalLabel">Donor Details</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body mb-4">
            <div class="row">
              <div class="col-md-6">
                <!-- Here goes the donor image -->
                <img src="/user/images/user.png" class="rounded-4" width="100%" alt="Donor Image" style="border-radius: 20px;">
              </div>
              <div class="col-md-6">
                <p>Donor Id: <%= donor.don_id %></p>
                <p>Gender: <%= donor.don_gender %></p>
                <p>Age: <%= donor.don_age %></p>
                <p>Date of Birth: <%= donor.don_dob %></p>
                <p>Email: <%= donor.don_mail %></p>
                <p>Phno: <%= donor.don_phno %></p>
                <p>Location: <%= donor.don_location %></p>
                <p>State: <%= donor.don_state %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <% }); %>
    <% } %>
  </div>
</div>
<!-- Donor list closed -->


    <!-- About  -->
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Hemo- <span
              class="text-danger">Tracker</span></h1>
          <p class="lead">The system incorporates and two primary functions: donor registration and acceptor request
            management. Donors can easily register on the platform, providing essential information such as personal
            details, blood type, and contact information. The system ensures data security and privacy, adhering to
            regulatory standards for healthcare information.</p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/user/images/img2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
            height="500" loading="lazy">
        </div>
      </div>
    </div>
    <!-- About Closed -->
    <!--  Service-->
    <div class="container px-4 py-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom">Our Services</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img src="/user/images/icon-clock.png" width="30" height="30" alt="clock icon">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">24x7 Support</h3>
            <p>Our 24x7 Support team is always ready to assist you with any queries regarding blood donation,
              appointments, or general information. We are here round-the-clock to ensure your donation experience is
              smooth and hassle-free.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img src="/user/images/icon-donor.png" width="35" height="35" alt="donor icon">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Real-time Availability</h3>
            <p>Our real-time availability feature allows you to check the current status of blood donation slots. You
              can see available time slots and select the most convenient one for you to donate blood and save lives.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div
            class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <img src="/user/images/icon-message.png" width="30" height="30" alt="message icon">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Notification System</h3>
            <p>Our notification system keeps you informed about upcoming blood donation camps, urgent blood
              requirements, and updates related to your donations. Stay connected and never miss an opportunity to
              contribute to our noble cause.</p>
          </div>
        </div>
      </div>
    </div>
    <!--Service closed -->


    <!-- footer -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap" />
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/user/images/icon-twitter.png" width="24"
                height="24" alt="twitter icon"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/user/images/icon-facebook.png" width="24"
                height="24" alt="facebook icon"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="#"><img src="/user/images/icon-instagram.png" width="24"
                height="24" alt="instagram icon"></a></li>
        </ul>
      </footer>
    </div>


  </div>
  <script>
    window.addEventListener("load", function () {
      const preloader = document.querySelector(".preloader");
      const page = document.querySelector(".page");

      setTimeout(function () {
        preloader.style.display = "none";
        page.style.display = "block";
      }, 1000); // Replace 2000 with the desired delay in milliseconds
    });
  </script>
  <!-- Javascript for displaying the alert message that request is successfully sent -->
  <script>
    // Check if the requestSent query parameter exists in the URL
    const urlParams = new URLSearchParams(window.location.search);
    const requestSent = urlParams.get('requestSent');

    // If requestSent is true, display an alert message
    if (requestSent === 'true') {
      alert('Request sent successfully!');
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>